.bgstyle
{
    background: url("../images/cafe.jpg") rgb(24, 23, 23) no-repeat fixed center;
}   

.bgstyle2
{
    background-color: rgb(99, 7, 7);
}

.pstyle
{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    background-color: rgba(250, 215, 150, 0.705);
    -webkit-text-fill-color: rgb(80, 5, 5);
    -webkit-text-stroke: 2px rgb(87, 10, 7);
    border: 1px  black;
    outline-style: outset;
    outline-color: rgb(97, 8, 8);
    outline-width: 10px
    
}

.navbar a{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 20px;
    color: rgb(82, 6, 6) !important;
    font-style: italic;
    -webkit-text-stroke: 1.5px rgb(241, 188, 144);

}

.pstyle2
{
    font-size: 25px;
    color: rgb(241, 170, 111);
    -webkit-text-stroke: 1.5px rgb(184, 89, 26);
    font-family: 'Times New Roman', Times, serif;
}

.btn
{
    font-family: 'Times New Roman', Times, serif !important;
}


  .pstylemain
  {
      font-size: 17px;
      color: rgb(245, 208, 128);
      font-style: italic;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
  }

.card-title
{
    font-size: 20px !important;
    font-family: 'Times New Roman', Times, serif !important;
    color: rgb(119, 34, 20);
    -webkit-text-stroke: 1.5px rgb(107, 6, 6);
}

.pstyle3
{
    font-size: 35px;
    color: rgb(233, 105, 0);
    -webkit-text-stroke: 2px rgba(223, 150, 102, 0.849);
    font-family: 'Times New Roman', Times, serif; 
}

.p4
{
    color: aliceblue;
}
